@model int

<td style="width: 150px">
    <div class="btn-group" role="group">
        <a id="Update-Currency-@Model" class="btn btn-primary text-white" asp-action="Edit" asp-route-Id="@Model">
            <i class="fas fa-edit" aria-hidden="true"></i>
        </a>
        <a id="Update-Currency-@Model" class="btn btn-success text-white" asp-action="Details" asp-route-Id="@Model">
            <i class="bi bi-list" aria-hidden="true"></i>
        </a>
        <a id="Update-Currency-@Model" class="btn btn-danger text-white" asp-action="Delete" asp-route-Id="@Model">
            <i class="bi-trash" aria-hidden="true"></i>
        </a>
    </div>
</td>